/* 首页分类条展示 */
#category-bar {
    padding: 0.4rem 1rem 0.4rem 0.7rem;
    background: var(--bieyinan-card-bg);
    border-radius: 12px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    border: var(--style-border);
    transition: 0.3s;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #category-bar {
        border-radius: 0;
        border: none!important;
    }
}

#category #category-bar {
    padding: 0;
    border: none;
}

#category a.category-bar-item.select a {
    display: none;
}

.category-in-bar {
    display: flex;
    white-space: nowrap;
}

.category-in-bar-tips {
    margin-right: 1rem;
}

.category-bar-items {
    white-space: nowrap;
    overflow-x: scroll;
    align-items: center;
    display: flex;
}



.category-bar-items::-webkit-scrollbar {
    display: none;
}

.category-bar-item a {
    padding: .1rem .5rem .2rem;
    margin-right: 6px;
    font-weight: 700;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 30px;
}

.category-bar-item:hover a {
    background: var(--bieyinan-main);
    color: var(--bieyinan-white);
}

.category-bar-item.select a {
    background: var(--bieyinan-main);
    color: var(--bieyinan-white);
    border-radius: 8px;
}

.category-bar-more {
    margin-left: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 1300px){
    #category-bar {
        box-shadow: var(--bieyinan-shadow-border);
        animation: slide-in 0.6s 0.3s backwards;
    }

    #category-bar:hover {
        border: var(--style-border-hover);
        box-shadow: var(--bieyinan-shadow-main);
    }
}