@keyframes changeright {

    0% {
      -webkit-transform: rotate(0deg)scale(1.1);
      box-shadow: 0 0 2px #ffffff00;
    }
  
    25% {
      -webkit-transform: rotate(90deg)scale(1.1);
      box-shadow: 0 0 10px #ffffff;
    }
  
    50% {
      -webkit-transform: rotate(180deg)scale(1.1);
      box-shadow: 0 0 2px #ffffff00;
    }
  
    75% {
      -webkit-transform: rotate(270deg)scale(1.1);
      box-shadow: 0 0 10px #ffffff;
    }
  
    100% {
      -webkit-transform: rotate(360deg)scale(1.1);
      box-shadow: 0 0 2px #ffffff00;
    }
  }

@keyframes lightBar {

    0% {
      opacity: 0.1;
    }
  
    60% {
      opacity: 0.3;
    }
  
    100% {
      opacity: 0.1;
    }
  }

element.style {
    zoom: 1;
}

#nav-music {
    display: flex;
    align-items: center;
    z-index: 1001;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    transition: 0.3s;
    transform-origin: left bottom;
    box-shadow:0 8px 16px -4px #2c2d300c;
    border-radius: 40px;
    overflow: hidden;
}

#nav-music:hover{
    background: #4d6dd5!important;
}

#nav-music #nav-music-hoverTips {
    color: #fff;
    background: rgba(0,153,255,0.532);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 40px;
    opacity: 0;
    font-size: 12px;
    transition: 0s;
    z-index: 2;
    /* pointer-events: none; */
    transition: 0.3s;
}

#nav-music #nav-music-hoverTips:hover{
    background-color: #5c85ff;
    opacity: 1!important;
}

#nav-music.playing #nav-music-hoverTips:hover{
    opacity: 0!important;
}

/* .playing */
#nav-music.playing {
    box-shadow: 0 0px 12px -3px #000000;
    animation: playingShadow 5s linear infinite;
}

#nav-music .aplayer{
    background: #fff;
    border-radius: 60px;
    height: 41px;
    display: flex;
    margin: 0;
    pointer-events: none;
    transition: 0.3s;
    border: 1px solid #e3e8f7;
    box-shadow: none;
}

/* .playing */
#nav-music.playing .aplayer {
    background: rgba(77, 109, 213, 0.832)!important;
    border:1px solid rgba(0, 153, 255, 0.532)!important;
    backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: blur(20px);
    transform: translateZ(0);
}

.aplayer.aplayer-narrow {
    width: 100%;
}

.aplayer * {
    box-sizing: content-box;
}

.aplayer .aplayer-body{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;
    padding-right: 12px;
}

.aplayer.aplayer-narrow .aplayer-body,
.aplayer.aplayer-narrow .aplayer-pic {
    height: 100%;
    width: 100%
}

/* 海报旋转动画 */
#nav-music.playing .aplayer.aplayer-withlrc .aplayer-pic{
    box-shadow: 0 0 14px #ffffffa6;
    transform: rotate(0deg)scale(1.1);
    border-color:#fff;
    animation-play-state: running;
}

#nav-music .aplayer.aplayer-withlrc .aplayer-pic {
    height: 25px;
    width: 25px;
    border-radius: 40px;
    z-index: 1;
    transition: 0.3s;
    transform: rotate(0deg)scale(1);
    border:1px solid #e3e8f7;
    animation: changeright 24s linear infinite;
    animation-play-state: paused;
}

.aplayer .aplayer-pic div {
    display: none;
}

/* .playing */
#nav-music.playing .aplayer.aplayer-withlist .aplayer-info {
    color:#fff;
}

#nav-music .aplayer.aplayer-withlist .aplayer-info {
    border: none;
}

#nav-music .aplayer.aplayer-withlrc .aplayer-info {
    height: 100%;
    color: #363636;
    margin-left: 8px;
    padding: 0;
    display: flex!important;
    align-items: center;
}

#nav-music .aplayer .aplayer-info .aplayer-music {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 1;
}

#nav-music .aplayer .aplayer-info .aplayer-music .aplayer-title {
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
}

#nav-music .aplayer-author{
    display: none;
}

/* .playing */
#nav-music.playing .aplayer.aplayer-withlrc .aplayer-lrc {
    width: 200px;
    margin-bottom: 0;
    opacity: 1;
}

.aplayer.aplayer-withlrc .aplayer-lrc{
    width: 0;
    opacity: 0;
    transition: 0.3s;
    margin-left: 8px;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
    display: none;
}

.aplayer .aplayer-info .aplayer-controller {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* 海报播放动画  .playing*/
.aplayer.aplayer-withlrc .aplayer-pic {
    box-shadow: 0 0 14px #ffffffa6;
    transform: rotate(0deg)scale(1.1);
    border-color:#fff;
    animation-play-state: running;
}

/* 把所有歌词高斯模糊 */
#nav-music .aplayer .aplayer-lrc p {
    color:#ffffffb3;
    filter: blur(0.8px);
}

/* 当前播放歌词取消高斯模糊 */
#nav-music .aplayer .aplayer-lrc p.aplayer-lrc-current {
    color:#fff;
    border: none;
    filter: blur(0px);
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
    opacity: 1;
    overflow: visible;
    height: auto!important;
    min-height: 16px;
}

.aplayer .aplayer-lrc:after, .aplayer .aplayer-lrc:before {
    display: none;
}



.aplayer.aplayer-withlist .aplayer-info {
    border-bottom: none;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    opacity: 0;
}

#nav-music .aplayer .aplayer-info .aplayer-controller {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0;
    padding: 0;
}

/*.playing  */
#nav-music.playing .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    opacity: 1;
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar{
    height: 100%;
    background: none;
    opacity: 0;
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    display: none;
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    opacity: 0.1;
    /* background-color: #fff!important; */
    animation: lightBar 5s ease infinite;
    animation-play-state: paused;
}

/* playing */
#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    animation-play-state: running;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    position: absolute;
    top: 0;
    right: 5px;
    margin-top: -4px;
    margin-right: -10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-time{
    display: none;
}