@media screen and (max-width: 768px) {
  #home_top {
    padding: 0;
    margin-top: 0
  }
}

.recent-top-post-group {
  border-radius: 12px;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 0
}

.recent-post-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll
}

.recent-post-top::-webkit-scrollbar {
  display: none
}

.recent-post-top .recent-post-item {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: .5rem;
  background: var(--bieyinan-card-bg);
  border-radius: 12px;
  overflow: hidden;
  min-width: 200px;
  height: 162px;
  max-height: 162px;
  border: var(--style-border-always);
  transition: .3s;
  position: relative;
  box-shadow: var(--bieyinan-shadow-border)
}

@media screen and (max-width: 768px) {
  .recent-post-top .recent-post-item {
    border-radius: 8px;
    box-shadow: none;
    clip-path: inset(0 0 0 0 round 8px)
  }

  .recent-post-top .recent-post-item:last-child {
    margin-right: 1rem
  }
}

@media screen and (min-width: 1300px) {
  .recent-post-top .recent-post-item {
    margin-right: 0;
    margin-bottom: .5rem
  }

  .recent-post-top .recent-post-item:active {
    transform: scale(.97)
  }

  .recent-post-top {
    overflow-x: visible
  }

  .recent-top-post-group {
    overflow: visible;
    overflow-x: visible
  }
}

span.recent-post-top-text {
  position: absolute;
  top: 0;
  left: -40px;
  display: flex;
  z-index: 1;
  background: var(--bieyinan-theme);
  color: var(--bieyinan-white);
  padding: 2px 8px;
  font-size: .6rem;
  border-radius: 12px 0 12px 0;
  transition: .3s;
  cursor: pointer
}

.recent-post-item:hover .recent-post-top-text {
  left: 0
}

@media screen and (min-width: 1300px) {
  .recent-post-top .recent-post-item:hover {
    border: var(--style-border-hover);
    box-shadow: var(--bieyinan-shadow-main);
    transform: scale(1.03)
  }

  .recent-post-top .recent-post-item:active {
    transform: scale(.97)
  }
}

@media screen and (max-width: 768px) {
  .recent-top-post-group {
    border-radius: 0;
    background: var(--bieyinan-background)
  }

  .recent-post-top-text {
    display: none !important
  }

  .recent-post-top .recent-post-item .post_cover img {
    border-radius: 8px 8px 0 0 !important
  }
}

.recent-post-top .recent-post-item .post_cover a {
  height: 100px;
  overflow: hidden;
  display: flex
}

.recent-post-top .recent-post-item .post_cover img {
  object-fit: cover;
  width: 100%;
  background: var(--bieyinan-secondbg);
  border-radius: 12px 12px 0 0
}

.recent-post-top .recent-post-item:hover .post_cover img {
  transform: scale(1)
}

.recent-post-top .recent-post-item .recent-post-info {
  padding: .3rem .5rem .3rem .5rem !important;
  transition: .3s
}

.recent-post-top .recent-post-item:hover .recent-post-info a {
  color: var(--bieyinan-fontcolor)
}

@media screen and (max-width: 1300px) {
  .recent-post-top .recent-post-item:hover .recent-post-info a {
    color: var(--bieyinan-theme);
    transition: .3s
  }
}

.recent-post-top .recent-post-item .recent-post-info .article-title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: .5rem;
  font-weight: 700;
  font-size: .8rem !important;
  padding: 0 !important
}

.categoryItem {
  overflow: hidden;
  transform: scale(1);
  transition: all 0.8s cubic-bezier(0.65, 0.15, 0.37, 1.19);
  height: 48%;
  border-radius: 12px;
}

a.categoryButton {
  height: 100%;
  width: 100%;
  background: var(--bieyinan-card-bg);
  border-radius: 12px;
  display: inline-block;
  text-align: left;
  line-height: 4em;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--bieyinan-white);
  transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: scale(1);
  overflow: hidden;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei;
}

a.categoryButton i {
  transform: scale(1.0) rotate(15deg);
}

@media screen and (min-width: 1300px) {
  a.categoryButton:active {
    transform: scale(0.97);
  }
}

@media screen and (max-width: 768px) {
  a.categoryButton {
    border-radius: 8px;
  }

  .categoryItem {
    border-radius: 0px;
    height: 47%;
    box-shadow: none !important;
  }
}

a.categoryButton:after {
  top: 50px;
  width: 1rem;
  left: 21px;
  height: 2px;
  background: var(--bieyinan-white);
  content: "";
  border-radius: 1px;
  position: absolute;
}

.categoryButtonText {
  padding-left: 21px;
}

a.categoryButton i {
  font-size: 5rem;
  opacity: 0.2;
  position: absolute;
  right: 0%;
  top: 20%;
  transition: 0.3s;
  width: 100px;
  text-align: center;
  filter: blur(2px);
}

@media screen and (max-width: 768px) {
  a.categoryButton i {
    display: none;
  }

  .recent-post-top .categoryGroup {
    min-width: 130px !important;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    max-height: 164px;
    overflow: hidden;
    position: relative;
  }
}

.topGroup {
  display: flex;
}

#bannerGroup {
  display: flex;
}

div#banners {
  display: none;
}

@media screen and (min-width: 1200px) {
  .topGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: calc(328px + 0.5rem);
    align-content: space-between;
    width: calc(600px + 1.5rem);
    position: relative;
    animation: slide-in 0.6s 0.1s backwards;
  }

  div#bannerGroup {
    width: calc(100% - 600px - 2rem);
    margin-right: 0.5rem;
    height: calc(328px + 0.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div#banners {
    display: flex;
    width: 100%;
    height: 76%;
    background: var(--bieyinan-bootcolor);
    margin-bottom: 0.5rem;
    border: var(--style-border);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: var(--bieyinan-shadow-border);
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
    will-change: transform;
    animation: slide-in 0.6s 0.1s backwards;
  }

  div#banners:hover {
    box-shadow: var(--bieyinan-shadow-main);
  }

  #banners.flink {
    margin-bottom: 0.5rem;
  }

  #banners .banner-button-group {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
  }

  #banners .banner-button {
    padding: 8px 12px;
    background: var(--bieyinan-fontcolor);
    border-radius: 12px;
    color: var(--bieyinan-card-bg);
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: var(--bieyinan-shadow-black);
  }

  #banners .banner-button.secondary {
    background: var(--bieyinan-secondbg);
    border: var(--style-border-always);
    color: var(--bieyinan-lighttext);
    margin-right: 1rem;
    box-shadow: var(--bieyinan-shadow-border);
  }

  #banners .banner-button:hover {
    background: var(--bieyinan-theme);
    color: var(--bieyinan-white);
  }

  #banners .banner-button i {
    margin-right: 8px;
    font-size: 1rem;
  }

  .banners-title {
    top: 2rem;
    left: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
  }


  .banners-title-big {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .banners-title-small {
    font-size: 12px;
    line-height: 1;
    color: var(--bieyinan-secondtext);
    margin-top: 8px;
    margin-bottom: 0.5rem;
  }

  #banner-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--bieyinan-theme);
    color: var(--bieyinan-white);
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: cubic-bezier(0.71, 0.15, 0.16, 1.15) 0.6s;
  }

  .bannerText {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
  }

  .banner-righticon {
    font-size: 4rem;
    opacity: 0.6;
  }

  #banners:hover #banner-hover {
    opacity: 1;
    padding-left: 2rem;
    background: #4259efc9;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transition: 0.3s;
    background-size: 200%;
    cursor: pointer;
  }
}

.tags-group-icon {
  width: 120px;
  height: 120px;
  border-radius: 30px
}

.tags-group-all {
  display: flex;
  transform: rotate(-30deg)
}

.tags-group-all.nowrapMove {
  transform: rotate(0);
  padding-bottom: 2rem
}

.tags-group-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-wrap: nowrap;
  animation: rowup 60s linear infinite
}

.nowrapMove .tags-group-wrapper {
  margin-top: 7rem;
  animation: rowup 120s linear infinite
}

.tags-group-icon-pair .tags-group-icon:nth-child(even) {
  margin-top: 1rem;
  transform: translate(-60px)
}

.tags-group-icon-pair {
  margin-left: 1rem
}

.tags-group-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 66px;
  font-weight: 700;
  box-shadow: var(--bieyinan-shadow-blackdeep)
}

.nowrapMove .tags-group-icon {
  border-radius: 50%
}

.tags-group-icon img {
  width: 60%
}

.nowrapMove .tags-group-icon img {
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  object-fit: cover
}

.categoryItem:hover i {
  opacity: .8;
  transition: .8s;
  transition-delay: .15s;
  transform: scale(1.03) rotate(0);
  font-size: 2.5rem;
  filter: blur(0)
}

@media screen and (min-width: 1200px) {
  .categoryItem:hover i {
    transform: scale(1.03) rotate(0)
  }
}

.cate-button-text {
  box-shadow: var(--bieyinan-shadow-black)
}

.recent-post-top .categoryGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px
}

.categoryGroup .categoryItem:nth-child(3) {
  display: none
}

@media screen and (min-width: 1200px) {
  .recent-post-top .categoryGroup {
    flex-direction: row;
    height: 24%
  }

  .categoryItem {
    width: calc(100% / 3 - .33rem);
    height: 100%;
    margin-right: .5rem
  }

  .categoryItem:last-child {
    margin-right: 0
  }

  .categoryItem:hover {
    width: 50%
  }

  .categoryGroup .categoryItem:nth-child(3) {
    display: flex
  }
}

a.categoryButton.bikan {
  background: linear-gradient(to right, #358bff, #15c6ff);
  background-size: 200%
}

a.categoryButton.remen {
  background: linear-gradient(to right, #f65, #ffbf37);
  background-size: 200%
}

a.categoryButton.shiyong {
  background: linear-gradient(to right, #18e7ae, #1eebeb);
  background-size: 200%
}

[data-theme=dark] a.categoryButton.bikan {
  background: linear-gradient(to right, #0653b8, #2fcbff);
  background-size: 200%
}

[data-theme=dark] a.categoryButton.remen {
  background: linear-gradient(to right, #e22a16, #da980c);
  background-size: 200%
}

[data-theme=dark] a.categoryButton.shiyong {
  background: linear-gradient(to right, #099e74, #0ea4a4);
  background-size: 200%
}

a.categoryButton:hover {
  background-position: 100% 0
}

@keyframes rowup {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-50%)
  }
}

#recent-post-top .recent-post-item .post_cover {
  width: 100%;
}

psw {
  color: transparent;
  background: #a1a1a1;
  border-radius: 2px;
  -webkit-transition: all .28s ease;
  -moz-transition: all .28s ease;
  -o-transition: all .28s ease;
  -ms-transition: all .28s ease;
  transition: all .28s ease;
  -moz-transition: all .28s ease;
  -webkit-transition: all .28s ease;
  -o-transition: all .28s ease;
}

psw:hover {
  color: #444;
  background: 0 0;
}

/* FPS */
#page-header #nav #nav-left {
  z-index: 102;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  margin-right: 1.5rem;
  overflow: hidden;
}

.nav-fixed #fps-group,
.not-top-img #fps-group {
  color: var(--bieyinan-fontcolor);
}

body[data-type=music] #fps-group {
  color: var(--bieyinan-white)
}

#fps-group {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  color: var(--bieyinan-white);
}

#fps-group.show {
  opacity: 1;
  filter: none;
}

#fps {
  z-index: 10000;
  font-size: 12px;
  transition: 0.3s;
  font-weight: bold;
  line-height: 1;
}

.fpsText {
  font-size: 12px;
  line-height: 1;
  opacity: 0.6;
}

@media screen and (max-width: 1400px) {
  #fps-group.show {
    opacity: 0;
    filter: none;
  }
}

@media screen and (max-width: 760px) {
  #fps-group.show {
    opacity: 1;
    filter: none;
  }
}

/* 留言板 */

[data-type=envelope] .page-title {
  display: none;
}

#maincontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  background: url(https://bu.dusays.com/2023/09/01/64f1f6d687dcf.png) no-repeat 50%;
}

#maincontent .article-innerbox {
  max-width: 1080px;
  width: 825px;
  height: 505px;
  position: relative;
  left: 133px;
  top: 9px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #383c44;
}

#maincontent .article-innerbox .inner-title {
  margin: 40px 0 5px;
  font-size: 45px;
  font-weight: bold;
  color: #494a4d;
}

#maincontent .article-innerbox .inner-article {
  width: 100%;
  margin: 0 6px;
}

#maincontent .article-innerbox .article-ul {
  list-style: none;
  margin: 0;
  padding: 0 75px;
  height: 235px;
}

#maincontent .article-innerbox .article-ul .article-li {
  border-top: 2px solid #f0f1f2;
  height: 58px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#maincontent .article-innerbox .article-ul .article-li:last-child {
  border-bottom: 2px solid #f0f1f2;
}

#maincontent .article-innerbox .article-ul .article-li p {
  transition: color .25s ease;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 0 !important;
  font-size: 18px;
  font-weight: 600;
  color: #494a4d;
}

#maincontent .article-innerbox .article-ul .article-li p:hover {
  color: #ffc000;
}

@media screen and (max-width:1230px) {
  #maincontent {
    background: image-set(url(https://bu.dusays.com/2023/09/02/64f2c3db40a6e.png) 1x, url(https://bu.dusays.com/2023/09/02/64f2c3db40a6e.png) 2x) 50% no-repeat;
  }

  #maincontent .article-innerbox {
    position: relative;
    max-width: 560px;
  }

  #maincontent .article-innerbox .inner-title {
    margin: 40px 10px;
    font-size: 40px;
  }

  #maincontent .article-innerbox .article-ul {
    padding: 0 50px;
  }

  #maincontent .article-innerbox .article-ul .article-li {
    height: 56px;
  }
}

@media screen and (max-width:910px) {
  #maincontent {
    background: image-set(url(https://bu.dusays.com/2023/09/02/64f2cc8dcc0ac.png) 1x, url(https://bu.dusays.com/2023/09/02/64f2cc8dcc0ac.png) 2x) 50% no-repeat;
  }

  #maincontent .article-innerbox {
    position: unset;
    max-width: 682px;
  }

  #maincontent .article-innerbox .inner-title {
    margin: 40px 0 10px;
    font-size: 40px;
  }

  #maincontent .article-innerbox .article-ul {
    padding: 0 45px;
  }

  #maincontent .article-innerbox .article-ul .article-li {
    height: 56px;
  }
}

@media screen and (max-width:790px) {
  #maincontent {
    background: image-set(url(https://bu.dusays.com/2023/09/02/64f2cd2b3332c.png) 1x, url(https://bu.dusays.com/2023/09/02/64f2cd2b3332c.png) 2x) 50% no-repeat;
  }

  #maincontent .article-innerbox {
    height: 430px !important;
  }

  #maincontent .article-innerbox {
    position: unset;
    max-width: 682px;
  }

  #maincontent .article-innerbox .inner-title {
    margin: 35px 0 10px;
    font-size: 32px;
  }

  #maincontent .article-innerbox .article-ul {
    padding: 0 25px;
    max-width: 370px;
    margin: 0 auto;
  }

  #maincontent .article-innerbox .article-ul .article-li {
    height: 56px;
    padding: 0 10px;
  }
}

@media screen and (max-width:440px) {
  #maincontent {
    background: image-set(url(https://bu.dusays.com/2023/09/02/64f2cd4a03ea4.png) 1x, url(https://bu.dusays.com/2023/09/02/64f2cd4a03ea4.png) 2x) 50% no-repeat;
  }

  #maincontent .article-innerbox {
    position: unset;
    max-width: 682px;
  }

  #maincontent .article-innerbox .inner-title {
    margin: 50px 0 24px;
    font-size: 26px;
  }

  #maincontent .article-innerbox .article-ul {
    padding: 0 25px;
    max-width: 300px;
  }

  #maincontent .article-innerbox .article-ul .article-li {
    height: 46px;
  }
}

/* video */

[data-type=video] div#page {
  background: none;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0 !important;
}

[data-type=video] #page h1.page-title {
  display: none;
}

.video-nav .nav-innerbox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-nav .nav-innerbox .nav-png {
  height: 240px;
  position: relative;
  background-size: 100%;
  max-width: 1080px;
  width: 100%;
  background: -webkit-image-set(url(https://bu.dusays.com/2023/09/02/64f338c3657a0.png) 1x, url(https://bu.dusays.com/2023/09/02/64f338c3657a0.png) 2x) 50% no-repeat;
  background: image-set(url(https://bu.dusays.com/2023/09/02/64f338c3657a0.png) 1x, url(https://bu.dusays.com/2023/09/02/64f338c3657a0.png) 2x) 50% no-repeat;
}

.video-nav .nav-innerbox .nav-png .text-msg {
  position: absolute;
  font-size: 72px;
  color: #fad16d;
  right: 40px;
  min-width: 65%;
  top: 0;
  font-weight: 600;
}

.video-nav .nav-innerbox .nav-png .input-box .search {
  position: absolute;
  bottom: 20.82%;
  width: 31px;
  left: 2.4%;
  cursor: pointer;
}

.video-nav .nav-innerbox .nav-png .input-box select {
  position: absolute;
  right: 2%;
  top: 65%;
  outline: none;
  border: 0;
  font-size: 20px;
  color: #3f4141;
  font-weight: 600;
  background-color: hsla(0, 0%, 100%, 0);
  z-index: 1;
}

.video-nav .nav-innerbox .nav-png .input-box select option {
  background: var(--bieyinan-maskbgdeep);
}

.video-nav .nav-innerbox .nav-png .input-box input {
  position: absolute;
  left: 7%;
  top: 66.5%;
  outline: none;
  border: 0;
  font-size: 20px;
  color: #3f4141;
  width: 78%;
  font-weight: 600;
  background-color: hsla(0, 0%, 100%, 0);
}

.video-nav .nav-innerbox .nav-png .input-box input::placeholder {
  color: rgba(66, 63, 63, 0.3);
}

.video-nav .nav-innerbox .barrage {
  position: relative;
  top: -30px;
  height: 0;
  max-width: 1080px;
  width: 100%;
  font-size: 14px;
  color: var(--font-color);
}

.video-nav .nav-innerbox .player {
  max-width: 1080px;
  width: 100%;
  height: 38rem;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  border-radius: 10px;
}

.video-nav .nav-innerbox .player-siderbar {
  max-width: 1080px;
  width: 100%;
}

.video-nav .nav-innerbox .player-siderbar .rewardLeftButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-nav .nav-innerbox .player-siderbar .rewardLeftButton .post-reward .reward-main {
  left: -90px;
}

@media screen and (max-width:1230px) {
  .video-nav .nav-innerbox .nav-png {
    height: 210px;
    width: 800px;
    background: -webkit-image-set(url(https://bu.dusays.com/2023/09/03/64f49ac4dcd45.png) 1x, url(https://bu.dusays.com/2023/09/03/64f49ac4dcd45.png) 2x) 50% no-repeat;
    background: image-set(url(https://bu.dusays.com/2023/09/03/64f49ac4dcd45.png) 1x, url(https://bu.dusays.com/2023/09/03/64f49ac4dcd45.png) 2x) 50% no-repeat;
  }

  .video-nav .nav-innerbox .barrage {
    width: 800px;
    margin-top: 3px;
    top: -28px;
  }

  .video-nav .nav-innerbox .nav-png .input-box .search {
    position: absolute;
    bottom: 21.82%;
    width: 31px;
    left: 3.7%;
    cursor: pointer;
  }

  .video-nav .nav-innerbox .nav-png .input-box input {
    top: 63.5%;
    left: 10%;
  }

  .video-nav .nav-innerbox .nav-png .input-box select {
    top: 63.5%;
    right: 2%;
    width: 15px;
  }

  .video-nav .nav-innerbox .nav-png .text-msg {
    font-size: 52px;
    right: 50px;
    top: 15px;
  }

  .video-nav .nav-innerbox .player,
  .video-nav .nav-innerbox .player-siderbar {
    width: 800px;
  }
}

@media screen and (max-width:910px) {
  .video-nav .nav-innerbox .nav-png {
    height: 170px;
    background: -webkit-image-set(url(https://bu.dusays.com/2023/09/03/64f4a0b15a8c6.png) 1x, url(https://bu.dusays.com/2023/09/03/64f4a0b15a8c6.png) 2x) 50% no-repeat;
    background: image-set(url(https://bu.dusays.com/2023/09/03/64f4a0b15a8c6.png) 1x, url(https://bu.dusays.com/2023/09/03/64f4a0b15a8c6.png) 2x) 50% no-repeat;
    max-width: 692px;
  }

  .video-nav .nav-innerbox .barrage {
    max-width: 692px;
    margin-top: 5px;
    top: -26px;
  }

  .video-nav .nav-innerbox .nav-png .input-box .search {
    position: absolute;
    bottom: 26%;
    width: 31px;
    left: 5.1%;
    cursor: pointer;
  }

  .video-nav .nav-innerbox .nav-png .input-box input {
    top: 56.5%;
    left: 11%;
  }

  .video-nav .nav-innerbox .nav-png .input-box select {
    top: 56.5%;
  }

  .video-nav .nav-innerbox .nav-png .text-msg {
    font-size: 46px;
    top: -6%;
    left: 25.2%;
    position: relative;
  }

  .video-nav .nav-innerbox .player,
  .video-nav .nav-innerbox .player-siderbar {
    max-width: 692px;
  }
}

@media screen and (max-width:790px) {
  .video-nav .nav-innerbox .nav-png {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 180px;
    background: none;
    width: 100%;
  }

  .video-nav .nav-innerbox .barrage {
    max-width: 440px;
    margin-top: 5px;
    top: -28px;
  }

  .video-nav .nav-innerbox .nav-png .input-box {
    width: 95%;
    max-width: 440px;
    height: 102px;
    background: -webkit-image-set(url(https://bu.dusays.com/2023/09/03/64f4a64f25bda.png) 1x, url(https://bu.dusays.com/2023/09/03/64f4a64f25bda.png) 2x) 50% no-repeat;
    background: image-set(url(https://bu.dusays.com/2023/09/03/64f4a64f25bda.png) 1x, url(https://bu.dusays.com/2023/09/03/64f4a64f25bda.png) 2x) 50% no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .video-nav .nav-innerbox .nav-png .input-box .search {
    opacity: 0;
    left: 8%;
    bottom: 44%;
  }

  .video-nav .nav-innerbox .nav-png .input-box input {
    left: 24%;
    width: 60%;
    top: 26.5%;
  }

  .video-nav .nav-innerbox .nav-png .input-box select {
    right: 8%;
    top: 26.5%;
  }

  .video-nav .nav-innerbox .nav-png .text-msg {
    position: unset;
    font-size: 38px;
    text-align: center;
  }

  .video-nav .nav-innerbox .player {
    max-width: 440px;
    height: 30rem;
  }

  .video-nav .nav-innerbox .player-siderbar {
    max-width: 440px;
  }
}

@media screen and (max-width:440px) {
  #body-wrap .layout {
    margin: 0;
  }

  .video-nav .nav-innerbox .nav-png {
    height: 162px;
  }

  .video-nav .nav-innerbox .nav-png .input-box {
    width: 95%;
    max-width: 340px;
    background: -webkit-image-set(url(https://bu.dusays.com/2023/09/04/64f52b09d12da.png) 1x, url(https://bu.dusays.com/2023/09/04/64f52b09d12da.png) 2x) 50% no-repeat;
    background: image-set(url(https://bu.dusays.com/2023/09/04/64f52b09d12da.png) 1x, url(https://bu.dusays.com/2023/09/04/64f52b09d12da.png) 2x) 50% no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .video-nav .nav-innerbox .barrage {
    max-width: 340px;
    width: 95%;
    top: -24px;
    font-size: 13px;
  }

  .video-nav .nav-innerbox .nav-png .input-box .search {
    left: 7%;
    bottom: 44%;
    opacity: 0;
  }

  .video-nav .nav-innerbox .nav-png .input-box input {
    top: 24%;
  }

  .video-nav .nav-innerbox .nav-png .input-box select {
    right: 8%;
    top: 24%;
  }

  .video-nav .nav-innerbox .nav-png .text-msg {
    font-size: 30px;
    margin: 11px 0 0;
  }

  .video-nav .nav-innerbox .player,
  .video-nav .nav-innerbox .player-siderbar {
    max-width: 340px;
    width: 95%;
  }
}

/* videoLogo */

.videoLogo {
  padding: 0;
  margin: 0.5rem -6px 1rem -6px;
  overflow-x: hidden;
}

.videoLogo .videoLogoItem {
  margin: 6px 6px;
  transition: 0.3s;
  border-radius: 12px;
  transition-timing-function: ease-in-out;
  position: relative;
  width: calc(20% - 12px);
  border: var(--style-border);
  box-shadow: var(--bieyinan-shadow-border);
  background: var(--bieyinan-card-bg);
  display: flex;
}

.videoLogo .videoLogoItem {
  position: relative;
  float: left;
  overflow: hidden;
  width: calc(19% - 2px);
  height: 90px;
  border-radius: 5px;
  line-height: 17px;
  transform: translateZ(0px);
  transition: all 0.3s ease 0s;
}

.videoLogo .videoLogoItem:hover {
  border: var(--style-border-hover);
  box-shadow: var(--bieyinan-shadow-main);
}

.videoLogo .videoLogoItem a {
  display: flex;
  align-items: center;
  width: 100%;
}

.videoLogo .videoLogoItem a img{
  margin: 0 auto;
}

[data-type=video] code {
  padding: .2rem .4rem;
    border-radius: 4px;
    margin: 0 4px;
    line-height: 2;
    box-shadow: var(--bieyinan-shadow-border);
    background: var(--bieyinan-pink);
    color: #fff;
    font-size: var(--global-font-size);
    font-family: consolas, Menlo, "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", sans-serif !important;
}

@media screen and (max-width:1230px) {
  .videoLogo .videoLogoItem {
    width: calc(25% - 12px) !important;
  }
}

@media screen and (max-width:900px) {
  .videoLogo .videoLogoItem {
    width: calc(33.3333% - 12px) !important;
  }
}

@media screen and (max-width:768px) {
  .videoLogo .videoLogoItem {
    width: calc(50% - 12px) !important;
  }
}

@media screen and (max-width:600px) {
  .videoLogo .videoLogoItem {
    width: calc(100% - 12px) !important;
  }
}