#footer {
    background: linear-gradient(180deg, var(--bieyinan-card-bg-none) 0%, var(--heo-card-bg) 25%);
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    text-decoration: none
}

#footer .copyright {
    padding: 1.5rem 1rem 1rem 1rem;
    color: var(--bieyinan-fontcolor);
    background: var(--bieyinan-secondbg);
    display: flex;
    overflow: hidden;
    z-index: 1002;
    transition: 0.3s;
    justify-content: center;
}

a.deal_link {
    display: flex;
    margin: 1rem 27px;
    color: var(--heo-card-bg)!important;
    border-radius: 3rem;
    width: 32px;
    height: 32px;
    background: var(--heo-fontcolor);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#footer_deal i {
    font-size: 0.9rem;
    line-height: 0.9rem;
    height: 0.9rem;
}

#footer_deal .deal_link:hover {
    transform: scale(1.1);
}

img.footer_mini_logo {
    width: 60px;
    height: 60px;
    margin: 0 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: cubic-bezier(0, 0, 0, 1.29) 0.5s;
    user-select: none;
}

img.footer_mini_logo:hover {
    transform: scale(1.2);
}

#byn-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 0 1rem;
}

#byn-footer .footer-group {
    min-width: 120px;
}

#byn-footer .footer-title {
    color: var(--bieyinan-secondtext);
    font-size: 1rem;
}

#byn-footer .footer-links {
    display: flex;
    flex-direction: column;
}

#byn-footer .footer-item:hover {
    color: var(--heo-theme);
}

#byn-footer .footer-item {
    font-size: .9rem;
    line-height: 0.8rem;
    margin: 8px 0;
    color: var(--heo-fontcolor);
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
    cursor: pointer;
    padding: 2px 0;
}

#byn-footer .footer-title-group {
    display: flex;
    align-items: center;
}

#byn-footer .footer-title-group a {
    margin-left: 8px;
}

#byn-footer .random-friends-btn {
    display: flex;
}

#byn-footer .footer-title-group i {
    line-height: 1;
    color: var(--heo-secondtext);
    transition: 0.3s;
    font-size: 16px;
    opacity: 0.6;
}

#footer-bar {
    padding: 1rem;
    color: var(--bieyinan-fontcolor);
    margin-top: 1rem;
    background: var(--bieyinan-secondbg);
    display: flex;
    overflow: hidden;
    z-index: 1002;
    transition: 0.3s;
    font-family: MohrRounded Heavy,FZLanTYK_Black,Microsoft YaHei,sans-serif;
}

#footer-bar .footer-bar-links {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1;
}

#footer-bar .footer-bar-left {
    display: flex;
    flex-wrap: wrap;
    min-height: 32px;
    align-items: center;
}

.footer-bar-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem 1rem 1rem 1rem;
    position: relative;
    margin-left: calc(5%);
}

.footer-bar-right svg {
    position: absolute;
}

.footer-bar-right svg path {
    scale: .1;
}

.footer-bar-right .container {
    position: absolute;
    top: calc(100% - 81%);
    left: calc(-10%);

}

.footer-bar-right .line {
    --colorA: #f24983;
    fill: none;
    stroke-width: 10;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dasharray: 328 600;
    animation: rotatelove 2s infinite linear;   
    filter:
        drop-shadow(0 0 2px var(--colorA))
        drop-shadow(0 0 5px var(--colorA))
        drop-shadow(0 0 10px var(--colorA))
        drop-shadow(0 0 15px var(--colorA))
        drop-shadow(0 0 25px var(--colorA));
}

.footer-bar-right .line2 {
    animation: rotatelove 2s infinite -1s linear;   
    --colorA: #37c1ff;
}


@keyframes rotatelove {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 928;
  }
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    padding-top: 0;
    padding-left: 0 !important;
    font-weight: weight;
}

@media screen and (max-width: 768px){
    div#footer_deal {
        flex-wrap: wrap;
        flex-direction: row;
    }

    img.footer_mini_logo {
        display: none;
    }

}
