			@keyframes name{
				0%{
					transform: rotate(0deg);
				}
				100%{
					transform:rotate(360deg);
				}
			}
				#lyrics ::-webkit-scrollbar{
			        width:0px;
			        height:0px;
			        background-color:#F5F5F5;
			    }
			    #lyrics ::-webkit-scrollbar-track
			    {
			        /* -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); */
			        border-radius:10px;
			        background-color:#F5F5F5;
			    }
			    #lyrics ::-webkit-scrollbar-thumb
			    {
			        border-radius:10px;
			        /* -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3); */
			        background-color:#555;
			    }
				#menu::-webkit-scrollbar{
			        width:0px;
			        height:0px;
			        background-color:#F5F5F5;
			    }
			   
		    body{
		        margin:0px;
		        padding:0px;
		        background-image: url(3.jpeg);
		        background-repeat:no-repeat;
				background-size: cover;
				background-position: top;
				height:85rem;
		    }
			.navbar{
				background-color:rgba(255, 255, 255, 0);
			}
			.dropdown-menu{
				background-color:rgba(0,0,0,0);
			}
			#rongqi1{
				height:25rem;
			}
			#menu{
				overflow:auto;
				height:50rem;
			}
			#menu>.list-group{
				margin:0;
				text-align: center;
				font-weight:bold;
				word-wrap:break-word;
			}
			#menu>.list-group>.list-group-item:hover{
				background-image:linear-gradient(to right,#ff75c3,#ffa647,#ffe83f,#9fff5b,#70e2ff,#cd93ff);
				color:orangered;
				cursor: pointer;
			}
			#picture_inside{
				border:5px solid white;
				height:25rem;
				width:25rem;
				border-radius:50%;
				margin:0 auto;
			}
			#blank1{
				height:25rem;
			}
			.animation{
				animation:name 10s linear infinite;
			}
			#rongqi2{
				height: 25rem;
			}
			#blank2{
				height: 25rem;
			}
			#blank3{
				height: 25rem;
			}
			#lyrics{
				border: 1px solid red;
				display:flex;
				flex-direction: column;
				height: 25rem;
			}
			#Scrollinglyrics{
				border: 1px solid red;
				margin:5% auto 0;
				width:75%;
				overflow-y:scroll;
				height:80%;
			}
			#Scrollinglyrics>ul{
				border: 1px solid red;
				width:92%;
				list-style: none;
				text-align: center;
				transition: all 1s ease-out 0s;
			}
			#Scrollinglyrics>ul>li{
				border: 1px solid red;
				opacity:0.6;
				font-weight: bold;
			}
			.audioProgess{
				display:flex;
				flex-direction:column;
			}
		    #audio{
		        opacity:0.5;
				text-align: center;
		    }
			audio{
			    opacity:0.5;
				}
		    audio:hover{
		        opacity:1;
		    }
			#player{
				display:flex;
				height: 6rem;
			}
			#player>div{
				height: 5rem;
			}
			#rongqi3{
				position:fixed;
				left:0;
				bottom:0;
				width:100%;
			}
			#lyric{
				background: linear-gradient(to right,#009fff,#ec2f4b);
				background-clip:text;
				-webkit-background-clip:text;
				color: transparent;
				text-align: center;
				font-size:23px;
			}
			.highlight{
				opacity:1 !important;
			}
